<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.ryanhoo.firFlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- BugHD -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- For update receiver -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".FlightApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ff.app.name"
        android:supportsRtl="false"
        android:theme="@style/FFTheme">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/ff.app.name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FFTheme.Splash"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FFTheme.Main" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FFTheme.WebView" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FFTheme.SignIn"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".ui.play.PlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:label="@string/ff.settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/ff.about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.AcknowledgementsActivity"
            android:label="@string/ff.acknowledgements"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name=".receiver.SystemPackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.github.ryanhoo.firFlight.GlideConfiguration"
            android:value="GlideModule" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2d252ad2430c0ccf0b8f536e92a7a13122bb17d7"
            />

        <meta-data
            android:name="FLIGHT_FLAVOR_NAME"
            android:value="${flightFlavorName}" />
    </application>

</manifest>